@font-face {
  font-family: "Poppins-Medium";
  src: url(./assets/Fonts/Poppins-Medium.ttf);
  font-weight: normal;

  font-family: "Poppins-Bold";
  src: url(./assets/Fonts/Poppins-Bold.ttf);

  font-family: "Poppins-SemiBold";
  src: url(./assets/Fonts/Poppins-SemiBold.ttf);

  font-family: "Poppins-Regular";
  src: url(./assets/Fonts/Poppins-Regular.ttf);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.App::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.App {
  font-family: "Poppins-Medium";

  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
